#container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  width: 100px;
  height: 100px;
  z-index: -1;
  box-shadow: 4px 3px black;
}

#theDiv {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20%;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  from {background: linear-gradient(blue,violet);}
  to {background: linear-gradient(violet,blue);}

}

.theLetter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  z-index: 1;
}
